.container {
    margin-top: constant(safe-area-inset-top) !important;
    margin-top: env(safe-area-inset-top) !important;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bottom-pad {
    margin-bottom: 75px;
}

.chooseClass {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 85%;
    font-size: xx-large;
    font-weight: bolder;

    .integrationList {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;

        app-actions-cards-compact {
            margin: 20px;
        }
    }

    .integrationListSmall {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
}