<app-navbar *ngIf="platform.is('desktop')"></app-navbar>
<div class="container">
    <ion-searchbar animated="true" placeholder="Aa" value="{{searchText}}" show-clear-button="always" [debounce]="500" (ionInput)="handleInput($event)"></ion-searchbar>
    <ng-container *ngIf="inSearch === false">
        <div class="chooseClass">
            <p>Choose a service</p>
            <div class="integrationList">
                <app-actions-cards-compact *ngFor="let i of integrations" action_name="{{i.name}}"
                                           iconUrl="{{i.icon_url}}" (click)="selectIntegration(i.name)"/>
            </div>
        </div>
    </ng-container>
    <div class="chooseClass">
        <p>Choose an action</p>
        <div class="integrationListSmall">
            <app-actions-cards *ngFor="let a of actionResults" title="{{a.api_name}}" description="{{a.description}}"
                               image={{getimgsrc(a.api_name)}}>
            </app-actions-cards>
        </div>
    </div>
    <div class="bottom-pad"></div>
</div>