<app-navbar></app-navbar>
<div class="chooseActionContent">
    <p>Choose a service</p>
    <div class="integrationList">
        <app-actions-cards-compact *ngFor="let i of integrations" action_name="{{i.name}}"
            iconUrl="{{i.iconUrl}}"></app-actions-cards-compact>
    </div>
</div>

<div class="chooseAction">
    <p>Choose an action</p>
    <div class="integrationList">
        <app-actions-cards title="Integration Name" description="Action description" image="asset/favicon.png"></app-actions-cards>
    </div>
</div>