.chooseClass {
    align-content: center;
    align-self: center;
    text-align: center;
    width: 85%;
    overflow-y: scroll;
    font-size: xx-large;
    font-weight: bolder;
    height: 100%;
}

.bottomContent {
    height: 7vh;
    display: grid;
    padding-bottom: 3vh;
}

button {
    height: 100%;
    border-radius: 5px;
    width: 20%;
    justify-self: center;
}

.integrationList,
.integrationListSmall {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 10px;
    align-items: center;
    justify-items: center;
    align-items: center;
}

.integrationListSmall {
    grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
}

@media screen and (max-width: 1100px) {
    .chooseActionContent {
        width: 100%;
    }
}
