.ion-modal-style {
    --border-radius: 15px;
    --overflow: hidden;
    --position: relative;
    margin-top: constant(safe-area-inset-top) !important;
    margin-top: env(safe-area-inset-top) !important;
}

.dateminiModal {
    backdrop-filter: blur(10px);
}

ion-input {
    --highlight-color-valid: #0054e9;
    font-size: large;
}

@media screen and (min-width: 1000px) {
    .ion-modal-style {
        --border-radius: 15px;
        --overflow: hidden;
        --position: relative;
        --width: 40%;
        --height: 90%;
        margin-top: constant(safe-area-inset-top) !important;
        margin-top: env(safe-area-inset-top) !important;
    }
}

.topImg {
    width: 15%;
    aspect-ratio: 1/1;
    margin: 2.5%;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background-color: white;
}

.topContent {
    padding: 1%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.207);
}

.bgImg {
    filter: blur(50px) saturate(3);
    transform: scale(2);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1000;
    opacity: 0.85;
}

.topText {
    display: block;
    width: 75%;
    align-content: center;
}

p {
    padding: 0px;
    align-self: center;
    padding-left: 10px;
    font-size: xx-large;
    color: white;
    font-weight: bolder;
    margin: 0px;
}

.littleText {
    font-size:  medium;
}

.chipsContainer {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

h4 {
    font-size: medium;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.confirm {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    ion-button {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .topImg {
        height: 80px;
        width: 80px;
    }
}