<ion-content>
    <div class="contain">
        <div class="login-container">
            <img src="assets/nexus-nobg.png">
            <form>
                <h1>Login to your Nexus account</h1>
                <ion-input #emailInput labelPlacement="stacked" type="email" label="Email" placeholder="Your email"
                    required>
                    <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
                </ion-input>
                <ion-input #passwordInput labelPlacement="stacked" type="password" label="Password" placeholder="Password"
                    required>
                    <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
                    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                </ion-input>
                <button type="submit" (click)="loginRequest()">Login</button>
            </form>
            <span class="link">You don't have a account ? <a href="register">Sign up here</a></span>
        </div>
    </div>
</ion-content>
<ion-fab>
    <ion-fab-button (click)="changeAPIURL()">
        <ion-icon name="hammer-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>