<div class="contain">
    <div class="login-container">
        <img src="assets/nexus-nobg.png">
        <form>
            <h1>Login to your Nexus Account</h1>
            <input #emailInput type="email" placeholder="Email" required>
            <input #passwordInput type="password" placeholder="Password" required>
            <button type="submit" (click)="loginRequest()">Login</button>
        </form>
        <span class="link">You don't have a account ? <a href="register">Sign up here</a></span>
    </div>
</div>
