<div class="contain">
    <div class="register-container">
        <img src="assets/nexus-nobg.png">
        <form>
            <h1>Register for a Nexus Account</h1>
            <input #inputName type="text" placeholder="Name" required>
            <input #inputEmail type="email" placeholder="Email" required>
            <input #inputPassword type="password" placeholder="Password" required>
            <input #inputPassword2 type="password" placeholder="Confirm password" required>
            <button type="submit" (click)="registerUser()">Sign up</button>
        </form>
        <span class="link bottomText">You already have a account ? <a href="login">Sign in here</a></span>
    </div>
</div>
