<div class="contain">
    <div class="register-container">
        <h1>AREA</h1>
        <form>
            <input #inputName type="text" placeholder="Name" required>
            <input #inputEmail type="email" placeholder="Email" required>
            <input #inputPassword type="password" placeholder="Password" required>
            <input #inputPassword2 type="password" placeholder="Confirm password" required>
            <button type="submit" (click)="registerUser()">Sign up</button>
        </form>
        <hr>
    </div>
</div>
