<ion-content>
    <div class="contain">
        <div class="register-container">
            <img src="assets/nexus-nobg.png">
            <form>
                <h1>Register a Nexus account</h1>
                <ion-input #inputName labelPlacement="stacked" label="Name" placeholder="Username" required>
                    <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
                </ion-input>
                <ion-input #inputEmail labelPlacement="stacked" type="email" label="Email" placeholder="Your email"
                           required>
                    <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
                </ion-input>
                <ion-input #inputPassword labelPlacement="stacked" type="password" label="Password" placeholder="Password"
                           required>
                    <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
                    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                </ion-input>
                <ion-input #inputPassword2 labelPlacement="stacked" type="password" label="Password"
                           placeholder="Confirm password" required>
                    <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
                    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                </ion-input>
                <button class="bottomButton" type="submit" (click)="registerUser()">Sign up</button>
            </form>
            <span class="link bottomText">You already have a account ? <a href="login">Sign in here</a></span>
        </div>
    </div>
</ion-content>