<nav class="container">
    <div class="middleContainer">
        <a class="para-nav middle title" href="/">
            Nexus
        </a>
    </div>
    <a class="para-nav home" href="dashboard/">Dashboard</a>
    <a class="para-nav home" href="dashboard/integrations">Intégrations</a>
    <a href="dashboard/profile"><img
            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
            alt="profile logo" title="Profile and services"></a>
</nav>