<div class="card-container" [style.backgroundColor]="background_color">
    <div class="top-row">
        <img class="circle-image" [src]="image" alt="profile_image" />
        <div class="title-description">
            <h2 class="card-title">{{ name }}</h2>
            <p class="card-description">{{ username }}</p>
        </div>
    </div>
    <div class="input-section">
        <input
            type="text"
            placeholder="Name"
            class="profil-input"
            [(ngModel)]="inputName"
        />
        <input
            type="text"
            placeholder="Email"
            class="profil-input"
            [(ngModel)]="inputEmail"
        />
        <div class="password-input-container">
            <input
                [type]="showPassword ? 'text' : 'password'"
                placeholder="Password"
                class="profil-input password-input"
                [(ngModel)]="inputPassword"
            />
            <i
                [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
                (click)="togglePasswordVisibility()"
            ></i>
        </div>
    </div>
    <button class="apply-button" (click)="applyChanges()">Apply changes</button>
</div>
