<div class="container">
    <div class="topBar">
        <h1>AREA</h1>
        <div class="rightPart">
            <a class="buttonLight" href="/home">Home</a>
            <a class="buttonLight" href="/integrations">Integration</a>
            <a class="button buttonLogin" href="/login">Login</a>
        </div>
    </div>
    <div class="center">
        <h2>Integrations for your business or your self</h2>
        <div class="buttonContainer">
            <a class="button" href="/register">Register</a>
            <a class="button buttonLogin" href="/login">Login</a>
        </div>
    </div>
</div>
