<div class="container">
    <div class="topBar">
        <h1>AREA</h1>
        <div class="rightPart">
            <a *ngIf="false" class="link" href="/integrations">Integration</a>
            <a *ngIf="platform.is('desktop')" class="button" href="/login">{{ token ? "Account" : "Login"}}</a>
        </div>
    </div>
    <div class="center">
        <h2>Integrations for your business or your self</h2>
        <div class="buttonContainer"  *ngIf="platform.is('mobile')">
            <a class="button" href="/register">Register</a>
            <a class="button buttonLogin" href="/login">Login</a>
        </div>
    </div>
</div>
