<div>
    <div class="sprite-container">
        <div class="sprite-row sprite1 move-left"></div>
        <div class="sprite-row sprite2 move-right"></div>
        <div class="sprite-row sprite3 move-left"></div>
        <div class="sprite-row sprite4 move-right"></div>
        <div class="sprite-row sprite5 move-left"></div>
        <div class="sprite-row sprite6 move-right"></div>
        <div class="sprite-row sprite7 move-left"></div>
        <div class="sprite-row sprite8 move-right"></div>
        <div class="sprite-row sprite9 move-left"></div>
        <div class="sprite-row sprite10 move-right"></div>
        <div class="sprite-row sprite11 move-left"></div>
        <div class="sprite-row sprite12 move-right"></div>
    </div>
    <div id="container">
        <h1>Integrations for your business or yourself</h1>
        <a class="androidBtn" href="/client.apk">Download The App</a>
    </div>
        <div class="topBar">
            <h1>AREA</h1>
            <div class="rightPart">
                <a *ngIf="false" class="link" href="/integrations">Integration</a>
                <a *ngIf="platform.is('desktop')" class="button" href="/login">{{ token ? "Account" : "Login"}}</a>
            </div>
        </div>
        <div class="center">
            <div class="buttonContainer">
                <a class="button" href="/register">Register</a>
                <a class="button buttonLogin" href="/login">Login</a>
            </div>
        </div>
    </div>
