#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    color: white;
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

:host {
    background-color: rgb(210, 210, 210);
}

@keyframes scroll-background {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -150% 0;
    }
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sprite-row {
    width: 100%;
    height: 25vh;
    background-repeat: repeat-x;
    background-size: 40% 100%;
    opacity: 0.2;
}

.sprite-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 6300px;
    height: 3033px;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.move-left {
    animation: scroll-left 3000s linear infinite;
}

.move-right {
    animation: scroll-right 3000s linear infinite;
}

.sprite1 {
    background-image: url('./../../assets/icon/spriteAction.png');
}

.sprite2 {
    background-image: url('./../../assets/icon/spriteAction2.png');
}

.sprite3 {
    background-image: url('./../../assets/icon/spriteAction3.png');
}

.sprite4 {
    background-image: url('./../../assets/icon/spriteAction4.png');
}

.sprite5 {
    background-image: url('./../../assets/icon/spriteAction5.png');
}

.sprite6 {
    background-image: url('./../../assets/icon/spriteAction.png');
}

.sprite7 {
    background-image: url('./../../assets/icon/spriteAction.png');
}

.sprite8 {
    background-image: url('./../../assets/icon/spriteAction2.png');
}

.sprite9 {
    background-image: url('./../../assets/icon/spriteAction3.png');
}

.sprite10 {
    background-image: url('./../../assets/icon/spriteAction4.png');
}

.sprite11 {
    background-image: url('./../../assets/icon/spriteAction5.png');
}

.sprite12 {
    background-image: url('./../../assets/icon/spriteAction.png');
}

.sprite13 {
    background-image: url('./../../assets/icon/spriteAction.png');
}

.sprite14 {
    background-image: url('./../../assets/icon/spriteAction2.png');
}

.sprite15 {
    background-image: url('./../../assets/icon/spriteAction3.png');
}

.sprite16 {
    background-image: url('./../../assets/icon/spriteAction4.png');
}

.sprite17 {
    background-image: url('./../../assets/icon/spriteAction5.png');
}

.sprite18 {
    background-image: url('./../../assets/icon/spriteAction.png');
}

@keyframes scroll-left {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -6000% 0;
    }
}

@keyframes scroll-right {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 6000% 0;
    }
}

.icon-container {
    display: none;
}

.center {
    position: relative;
    z-index: 1;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: black;
    font-weight: 800;
    z-index: 2;
    padding-left: 1rem;
    margin-bottom: 30px;
}

h2 {
    font-size: 5rem;
    color: black;
    font-weight: 800;
    width: 50%;
    text-align: center;
    line-height: 1.2;
}

.topBar {
    display: flex;
    align-items: center;
}

.androidBtn {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 800;
    background-color: #1a1a1a;
    padding: 20px 10px 20px 10px;
    border-radius: 15px;
}

.rightPart {
    height: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
}

.link {
    margin: 0 20px 0 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    transition: 0.1s all ease-in-out;
}

.link:hover {
    border-bottom: 3px solid white;
    transition: 0.1s all ease-in-out;
}

.button {
    padding: 10px 30px 10px 30px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 15px;
    border-radius: 5px;
    z-index: 3;
}

@media (max-width: 769px) {
    .androidBtn {
        display: none;
    }
}

@media (min-width: 769px) {
    .buttonContainer {
        display: none;
    }

    .topBar .rightPart {
        display: flex;
        align-items: center;
    }

    .buttonLogin {
        display: block;
    }
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.2) url('/area/src/assets/icon/discord.svg')
            no-repeat;
        background-size: cover;
    }

    .sprite-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 6000px;
        height: 3000px;
        z-index: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .buttonLight {
        display: none;
    }

    .topBar .buttonLogin {
        display: none;
    }

    h2 {
        font-size: 2.5rem;
        margin-top: 10px;
        width: 90%;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 3%;
    }

    .buttonContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-bottom: 30%;
        align-items: center;
        margin-top: 35%;
    }

    .button {
        height: 50px;
        padding: 0 35px;
        width: 200px;
        color: black;
        font-size: large;
        font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            'Segoe UI',
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            'Open Sans',
            'Helvetica Neue',
            sans-serif;
        font-weight: 700;
        background: white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttonLogin {
        background: black;
        color: white;
    }

    .button:hover {
        background: gainsboro;
    }

    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
        margin-top: 40%;
        width: 90%;
        text-align: center;
        line-height: 1.2;
    }

    .button {
        font-size: 20px;
        padding: 0 15px;
    }
}
