<app-navbar></app-navbar>
<div class="content">
    <div class="leftSide">
        <div class="topProfile">
            <img src="{{data.ImgSrc}}" class="profileImg">
            <div>
                <h1>{{data.Name}}</h1>
                <h4>{{data.Tag}}</h4>
            </div>
        </div>
        <div class="inputBlock">
            <input value="{{data.Name}}" placeholder="Name" type="text">
            <input value="{{data.Email}}" placeholder="Email" type="email">
            <input placeholder="Password" type="password">
        </div>
        <div class="bottomBlock">
            <button>Apply Changes</button>
        </div>
    </div>
    <div class="rightSide">
        <app-connection-card class="serviceCard"
        app_name="Instagram" app_icon="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/768px-Instagram_icon.png"></app-connection-card>
        <app-connection-card class="serviceCard" app_name="Discord" app_icon="https://upload.wikimedia.org/wikipedia/fr/thumb/4/4f/Discord_Logo_sans_texte.svg/213px-Discord_Logo_sans_texte.svg.png"></app-connection-card>
    </div>
</div>