<ion-content>
    <app-navbar *ngIf="platform.is('desktop')"></app-navbar>
    <div class="content">
        <div class="topWrappedContent">
            <h1>Start creating your automations</h1>
            <ion-searchbar placeholder="Search" value="{{searchText}}" [debounce]="500"
                (ionInput)="handleInput($event)"></ion-searchbar>
        </div>
        <div class="buttonContent">
            <a (click)="navigateToIntegrations()" class="lighButton">Create New</a>
        </div>
        <div class="integrationList">
            <app-dashboard-cards *ngFor="let d of showActiveArea" title="{{d.name}}" image_1="{{d.actionAPILogoUrl}}"
                image_2="{{d.reactionAPILogoUrl}}" id="{{d.configID}}" (onDeleteClicked)="this.deleteConfig($event)"
                (onCardClicked)="this.launchEditor(d.configID)">
            </app-dashboard-cards>
        </div>
        <div class="bottom"></div>
    </div>
</ion-content>