ion-content {
    --overflow: hidden;
}

.content {
    height: 100%;
    margin-top: constant(safe-area-inset-top) !important;
    margin-top: env(safe-area-inset-top) !important;
    width: 100%;
    overflow-y: scroll;
    z-index: -2;
}

.sprite-row {
    width: 100%;
    height: 25vh;
    background-repeat: repeat-x;
    background-size: 40% 100%;
    opacity: 0.1;
    background-color: #cacaca;
}

.sprite-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 4200px;
    height: 5033px;
    z-index: -1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.move-left {
    animation: scroll-left 3000s linear infinite;
}

.move-right {
    animation: scroll-right 3000s linear infinite;
}

.sprite1 {
    background-image: url('./../../assets/icon/sprite2.png');
}

.sprite2 {
    background-image: url('./../../assets/icon/sprite3.png');
}

.sprite3 {
    background-image: url('./../../assets/icon/sprite4.png');
}

.sprite4 {
    background-image: url('./../../assets/icon/sprite2.png');
}

.sprite5 {
    background-image: url('./../../assets/icon/sprite3.png');
}

.sprite6 {
    background-image: url('./../../assets/icon/sprite4.png');
}

.sprite7 {
    background-image: url('./../../assets/icon/sprite2.png');
}

.sprite8 {
    background-image: url('./../../assets/icon/sprite3.png');
}

.sprite9 {
    background-image: url('./../../assets/icon/sprite4.png');
}

.sprite10 {
    background-image: url('./../../assets/icon/sprite2.png');
}

.sprite11 {
    background-image: url('./../../assets/icon/sprite3.png');
}

.sprite12 {
    background-image: url('./../../assets/icon/sprite4.png');
}

.sprite13 {
    background-image: url('./../../assets/icon/sprite2.png');
}

.sprite14 {
    background-image: url('./../../assets/icon/sprite3.png');
}

.sprite15 {
    background-image: url('./../../assets/icon/sprite4.png');
}

.sprite16 {
    background-image: url('./../../assets/icon/sprite2.png');
}

.sprite17 {
    background-image: url('./../../assets/icon/sprite3.png');
}

.sprite18 {
    background-image: url('./../../assets/icon/sprite4.png');
}

@keyframes scroll-left {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -6000% 0;
    }
}

@keyframes scroll-right {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 6000% 0;
    }

}

.buttonIcon {
    width: 100%;
    height: 100%;
}

.chooseClass {
    align-content: center;
    align-self: center;
    text-align: center;
    width: 85%;
    font-size: xx-large;
    font-weight: bolder;
}

.topWrappedContent {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ion-searchbar {
    width: 90%;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: xx-large;
    text-align: center;
}

input {
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    border-style: none;
    filter: drop-shadow(0 0 0.1rem grey);
    width: 100%;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.integrationList{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    app-dashboard-cards {
        margin: 20px;
    }
}

.integrationListSmall {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.buttonContent {
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
    align-self: center;
}

ion-input {
    --highlight-color-valid: #0054e9;
    font-size: large;
}

@media screen and (min-width: 750px) {
    ion-modal {
        --border-radius: 15px;
        --overflow: hidden;
        --position: relative;
        --width: 90%;
        --height: 90%;
        margin-top: constant(safe-area-inset-top) !important;
        margin-top: env(safe-area-inset-top) !important;
    }
}

.codeDiv {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

code {
    font-family: Consolas,"courier new";
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
    width: 100%;
    display: block;
  }

.toggleScroll {
    padding-right: 25px;
    margin-left: auto;
}

.topToolBar {
    overflow-x: scroll;
}

.buttonContent:hover{
    cursor: pointer;
}

.lighButton {
    background: rgb(145, 145, 145);
    text-decoration: none;
    height: 60%;
    width: auto;
    border-radius: 10px;
    color: white;
    font-size: large;
    font-weight: bold;
    max-width: 400px;
    min-width: 150px;
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin: 5vw;
    min-height: 45px;
}

.lighButton:hover {
    background: rgb(99, 99, 99);
    cursor: pointer;
}

.lighButton:active {
    background: rgb(66, 66, 66);
}

.bottom {
    height: 1px;
    margin-bottom: 125px;
}


@media (prefers-color-scheme: dark) {
    ion-searchbar {
        --box-shadow: 0px 1px 2px 0px #f1f1f1;
    }

    .sprite-row {
        width: 100%;
        height: 25vh;
        background-repeat: repeat-x;
        background-size: 40% 100%;
        opacity: 0.1;
        background-color: #cacaca;
    }
}

@media (max-width: 768px) {

    .sprite-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 2800px;
        height: 3000px;
        z-index: -1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
}

app-dashboard-cards {
    transition: 0.3s all ease-in-out;
}

app-dashboard-cards:hover {
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
}
