<ion-content>
    <div class="sprite-container">
        <div class="sprite-row sprite1 move-left"></div>
        <div class="sprite-row sprite2 move-right"></div>
        <div class="sprite-row sprite3 move-left"></div>
        <div class="sprite-row sprite4 move-right"></div>
        <div class="sprite-row sprite5 move-left"></div>
        <div class="sprite-row sprite6 move-right"></div>
        <div class="sprite-row sprite7 move-left"></div>
        <div class="sprite-row sprite8 move-right"></div>
        <div class="sprite-row sprite9 move-left"></div>
        <div class="sprite-row sprite10 move-right"></div>
        <div class="sprite-row sprite11 move-left"></div>
        <div class="sprite-row sprite12 move-right"></div>
        <div class="sprite-row sprite13 move-left"></div>
        <div class="sprite-row sprite14 move-right"></div>
        <div class="sprite-row sprite15 move-left"></div>
        <div class="sprite-row sprite16 move-right"></div>
        <div class="sprite-row sprite17 move-left"></div>
        <div class="sprite-row sprite18 move-right"></div>
    </div>
    <app-navbar *ngIf="platform.is('desktop')"></app-navbar>
    <div class="content">
        <div class="topWrappedContent">
            <h1>Start creating your automations</h1>
            <ion-searchbar placeholder="Search" value="{{searchText}}" [debounce]="500"
                (ionInput)="handleInput($event)"></ion-searchbar>
        </div>
        <div class="buttonContent">
            <button (click)="navigateToIntegrations()" class="lighButton">Create New</button>
            <button (click)="setOpen(true)"
                class="lighButton">Show Logs</button>
        </div>
        <h1 *ngIf="this.datas.length == 0">Or select an example:</h1>
        <div class="integrationList">
            <app-dashboard-cards *ngFor="let d of showActiveArea" service="{{d.apiname}}" title="{{d.name}}" image_1="{{d.actionAPILogoUrl}}"
                image_2="{{d.reactionAPILogoUrl}}" id="{{d.configID}}" (onDeleteClicked)="this.deleteConfig($event)"
                (onCardClicked)="this.launchEditor(d.configID)">
            </app-dashboard-cards>
            <app-dashboard-cards *ngFor="let d of defaultDatas" service="{{d.apiname}}" title="{{d.name}}" image_1="{{d.actionAPILogoUrl}}"
            image_2="{{d.reactionAPILogoUrl}}" [example]="true" id="{{d.configID}}" (onDeleteClicked)="this.deleteConfig($event)"
            (onCardClicked)="this.launchEditor(d.configID, true)">
        </app-dashboard-cards>
        </div>
        <div class="bottom"></div>
    </div>
</ion-content>

<ion-modal #editModal [isOpen]="isModalOpen" (willDismiss)="setOpen(false)">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-title>Webservice Logs {{this.selectedLogs}}</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false)">Close</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-header>
            <ion-toolbar>
                <ion-buttons class="topToolBar">
                    <ion-button (click)="selectServices('', true)">All</ion-button>
                    <ion-button *ngFor="let a of this.apis"
                        (click)="selectServices(a.name, true)">{{a.name}}</ion-button>
                    <ion-toggle [(ngModel)]="this.autoScroll" [value]="this.autoScroll" [checked]="this.autoScroll" class="toggleScroll">Auto Scroll</ion-toggle>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <div id="codeDiv" class="codeDiv">
                    <code *ngFor="let s of this.currentLogs" [ngStyle]="{ 'color': this.getColor(s)}">
                        {{s}}<br>
                    </code>
            </div>
        </ion-content>
    </ng-template>
</ion-modal>