<div class="content">
    <div class="topWrappedContent">
        <h1>Start creating your automations</h1>
        <input type="search" placeholder="Search actions">
    </div>
    <div class="integrationList">
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
        <app-dashboard-cards title="When commit send message on discord channel" background_color="grey"
            image_1="assets/samy.jpeg" image_2="assets/samy.jpeg"></app-dashboard-cards>
    </div>
</div>